
/* container*/
.contact_fond{
    margin:0px;
    background-image: url("../style/img/letters.jpg");
    background-repeat: no-repeat;
}

.box__contact{
   /* display:flex;
    justify-content: left;*/
  /*  
    margin-top: -10px;
    margin-bottom: 10px;
    height: 700px;
    width: 400px;
    margin-left:500px;
     */
    background-color: white;
    box-shadow: -1px 4px 20px -6px black;
}
.contact{
    background:lightgreen;
}

/* header part*/

.contact__header{
    padding:5px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.contact__headerInfo{
    flex:1;
    padding-left:20px;
}

.contact__headerInfo > h3{
    margin-top: 3px;
    font-weight: 500;
}

.contact__headerInfo > p{
    margin: 0px;
    color: gray;
}

/*body part*/

.contact__body{
   flex: 1;
    background-image: url("../style/img/fond-ecran.jpg");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
   /* padding-bottom: 230px;
    overflow: scroll;*/

}

.contact__message{
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 30px;
    background-color: #ffffff;
    margin-bottom: 30px;
}
.contact__reciever{
    margin-left: auto;
    background-color: #dcf8c6;
}
.contact__timestamp{
    margin-left: 10px;
    font-size: xx-small;
}

.copy{
    display: flex;
   margin-top: 10px;
}

.copy > .form__copy > textarea{
   
  
    background-color: rgb(250, 255, 230);
    overflow: hidden;
    resize: none;
    border: none;
    height: 25px;
   
}

.copy > button {
    border:solid 1px lightskyblue;
    color: rgb(0, 110, 255);
    background-color: white;
    height: 25px;
    font-size: 11px;
    border-radius: 5px;

}
.contact__name{
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size:xx-small;
}
/*footer part*/

.contact__footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top:1px solid lightgray;
}

.contact__footer > div {
  margin-left: 10px;
  margin-bottom: 8px;
  flex: 1;
  display: flex;
    
}


.contact__footer> div> .faux__input{
    flex: 1;
    border-radius: 30px;
    padding: 8px;
    border: none;
    background-color: white;
    font-style: italic;
    color: grey;
}
.contact__footer > div> button{
    border: none;
    background-color: lightskyblue;
    margin-right: 10px;
    border-radius: 5px;
}

.contact__footer > div > button > a {
    color: black;
}

.footer__contact__fond{
    background-image: url("../style/img/letters.jpg");
   /* border:chocolate 1px solid;*/
    padding: 100px;
    background-position: end;
}