/*.fond{
   
    background-color: pink;
   border: solid purple 1px;
    width: 500px;
    height: 800px;
    border-radius: 30px;
   
}*/

.color{
   
    
   /* width: 200px;
   border: solid black 1px;*/
   background-color: rgb(68, 188, 204);
   color: white;
    height: 250px;
    border-radius: 30px;
}

.test{
    background-color: rgb(246, 243, 243);
    border: solid black 1px;
    width: 500px;
    height: 800px;
    border-radius: 30px;
}