#bonhomme {
    width: 100px;
    height: 100px;
    background: rgb(206, 165, 165);
    position: relative;
    animation: mymove 1s 3;
}

@keyframes bonhomme {
    from {
        top: 0px;
    }
    to {
        top: 200px;
    }
}