.home__text > p{
    text-align: justify;
    text-align: start;
}

.boite1{
    background-color: pink;
    border: purple solid 2px;
}
.boite2{
    background-color: pink;
    border: purple solid 2px;
}

.boite3{
    background-color: pink;
    border: purple solid 2px;
}