        .carre {
            /*border: solid #828887;*/
            margin: 10px 0;
            padding: 15px;
            font-size: 30px;
            border-radius: 5px;
            padding: 10px;
            white-space: 10px;
            cursor: pointe;
            background-color: white;
        }
        
        .container1 {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 30px 5%;
            background-color: white;
        }
        
        .color3 {
            width: 100%;
        }
        
        .text {
            font-size: 12px;
            text-align: justify;
        }
        
        .text h3 {
            font-size: 18px;
            color: rgb(59, 5, 59)
        }
        
        .img_video_Podcast {
            width: 100%;
        }
        
        .img_video_Podcast img {
            width: 100%;
        }
        
        .green {
            width: 45%;
        }
        
        iframe {
            width: 100% !important;
            border: 0;
        }
        
        .bulles {
            background-color: rgb(205, 248, 86);
            border-radius: 30px;
            width: 100%;
        }